/*********** Palette color ***********/
:root{
    --default: #1389B2;
    --fizz: #0BD6A1;
    --buzz: #FFD166;
    --fizzbuzz: #F0466F;

    --bg-fizzbuzz: #083B4C;
}


/*********** Utilities ***********/
.fizz {background-color: var(--fizz);}
.buzz {background-color: var(--buzz);}
.fizzbuzz {background-color: var(--fizzbuzz);}
.bg-fizzbuzz {background-color: var(--bg-fizzbuzz);}


/*********** Generics ***********/
